// ************************** Section 1 footer styling ******************************
.sect1 {
  height: 40vh;
  width: 100vw;
  background: #70ceee;
  font-family: "Inter", sans-serif;
}

.sec1-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// *************************** Section 2 footer styling ********************************
.sect2 {
  height: 60vh;
  width: 100vw;
  background: #edfbff;
}
