<!-- *************************** First Section of the footer *********************** -->
<section class="sect1">
  <div class="sec1-info">
    <div class="text-cont">
      <p class="foot-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        commodi, voluptas quibusdam mollitia illo sit quasi natus.
      </p>
    </div>
    <div class="btn-group">
      <!-- Buttons -->
      <div class="btn1"><button class="join">Join Today</button></div>
      <div class="btn2"><button class="contact">Contact Us</button></div>
    </div>
  </div>
</section>

<!-- ************************** Second Section of the footer ****************** -->
<section class="sect2"></section>
