<section>
    <table class="w-full">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Notes</th>
                <th>Actions</th>
                <th><button class="rounded-3xl h-10 w-10  bg-trinityBlue inline-flex items-center justify-center text-white" title="Add a new plumber" (click)="openDialog()"><i class="fa-solid fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody #editableForms>
            <!-- Tells angular to add the class with same name once editMode is true -->
            <tr *ngFor="let ticket of tickets">
                <td class="cursor">
                    <input type="text" [value]="ticket.clientName" name="clientName" [disabled]="!editMode" >
                </td>
                <td class="cursor">
                    <input type="email" [value]="ticket.clientEmail" name="clientEmail" [disabled]="!editMode">
                </td>
                <!-- <td class="cursor">
                    <input type="text" [value]="ticket.plumber" name="plumber" [disabled]="!editMode" >
                </td> -->
                <td class="cursor">
                    <input type="tel" [value]="ticket.clientPhone" name="clientPhone" [disabled]="!editMode" >
                </td>
                <!-- <td class="cursor">
                    <input type="tel" [value]="ticket.service" name="clientPhone" [disabled]="!editMode" >
                </td> -->
                <td class="cursor w-[300px]">
                    <input type="text" class="w-[90%] bg-white resize-none" [value]="ticket.clientAddress" name="clientPhone" [disabled]="!editMode">
                </td>
                <td>
                    <div class="actions flex gap-2">
                        <button class="btn btn--info btn--sm" (click)="openDialog(ticket._id)" *ngIf="!editMode">View</button>
                       
                        <button class="btn btn--danger btn--sm" *ngIf="!editMode" (click)="deleteTicket(ticket._id)">Delete</button>
                    </div>

                </td>
                <input type="hidden" name="_id" [value] = "ticket._id">
            </tr>
           
        </tbody>
    </table>

</section>