@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap';
*{
    box-sizing: border-box;
}
.cart-container {
    min-height: 80vh;
}

.cart-container a {
    text-decoration: none;
}

.white{
    color:white;
}
.cart-title h1{
    position:relative;
    right:0;
    font-family: "Poppins";
    font-weight: 200;
    color:#302424;
    text-align:end;
}
 
.cart-grid{
    display:grid;
    grid-template-columns: auto 400px;
    margin-top: 2rem;
}
.sharp-bx, .cartItem{
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-radius: 5px;
    // box-shadow: 5px 4px 12px rgb(0, 56, 255, 27%);
    @apply  shadow-[5px_4px_12px] shadow-trinityBlue;
}
.cartSummary-grid.sharp-bx{
    min-height:10rem;
}
.cartInfo-grid{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.sharp-bx .title{
    color:#6D6D6D;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 1rem;
    border-bottom: 1px solid #00E0ff;
    margin-bottom: 0;
}
.sharp-bx table{
    padding: 0 1rem;
    text-align:start;
    width: 100%;
    padding-bottom: 1rem;


}
.sharp-bx table thead{
    color: #6D6D6D;
}
.sharp-bx table th, .sharp-bx td{
    text-align: start;
}
.sharp-bx table th{
    padding-top:10px;
}
.sharp-bx table td{
    font-size: .7rem;
    color: #302424;
     

}

.payMethods{
    padding:1rem;
    display:flex;
    flex-wrap:wrap;

}
.cartItem-img-wrapper{
    padding: 2px;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;

}
.cartItem-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position:center;
    border-radius:50%;;
}
.cartItem{
    padding: 10px;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding-left: 1rem;
    padding-right: 3rem;
    gap: 1rem;
}
.cartItem [class^="cartItem-sec"]{
    display:flex;
    align-items:center;
}
.cartItem .cartItem-sec2{
    justify-content:center;
}
.cartItem .cartItem-sec1{
    gap: 1rem;
}
.cartImg{
    display:flex;
    align-items:center;
}
.cartItem p{
    margin: 0;
}
.cartItem p.name{
    position:relative;
    margin-right: auto;
}
.cartItem .sides{
    position:absolute;
    font-size: .6rem;
    color:#6D6D6D;
    left: 0;
    top: 100%;
    font-weight: 600;
}
.increase, .decrease{
    background-color: transparent;
    border: none;
    cursor:pointer;
}
.increase:focus, .decrease:focus{
    outline:none;
}
.quantity{
    display:flex;
    align-items:center;
    gap:5px;
}
.qantity-ctrls{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cartItem-wrapper{
    display:flex;
    align-items: center;
}
.cartItem-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;


}
.bold{
    font-weight: bold;
    color:black;
}
.subtotal{
    text-align:right;
    color:#6D6D6D;
    font-weight: 400;
}
.cta{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.cta .back{
    display:flex;
    gap: 2rem;
    align-items: center;
    background-color:transparent;
    border:none;
    cursor: pointer;

}
.cta .checkout{
    color: #6D6D6D;
    border: 2px solid #6D6D6D;
    background-color: white;
    display: inline-block;
    padding: 4px 40px;
    text-transform:uppercase;
    cursor: pointer;

}
.cartItem-footer{
    padding-right: 4rem;
}
.closeIcon{
    background-color: white;
    margin-left: 1rem;
    border:none;
    display:flex;
}
.closeIcon button{
    background-color: white;
    border:none;
    cursor: pointer;
}