<section class="about">
  <!-- Banner Section -->

  <div class="banner-cont">
    <div class="banner">
      <div class="banner-text">
        <p>About Us</p>
      </div>
    </div>
  </div>

  <!-- ************************** Content Section ****************** -->
  <section class="main-contents">
    <div class="content-box">
      <div class="title">
        <p>WHO WE ARE</p>
      </div>

      <div class="parag-1">
        <p>
          So you've got a plumbing job to do. You don't want to run from one
          place to the next trying to get the plumbing supplies you need. You
          want to just get in, get your supplies, and get out. Great customer
          service would be even better. You are looking for a place where you
          can get the plumbing supplies for any job. That place is Trinity
          Plumbing Limited. Plumbers, contractors and home owners, we will get
          your merchandise to you anywhere in the island.
        </p>
      </div>
      <div class="parag-2">
        <p>
          Trinity Plumbing has stuck to its mantra of supplying the best and
          widest selection of plumbing items at affordable prices. The company
          still continues to stock PVC & copper pipes and fittings, toilets,
          basins, bath tubs, whirlpools, shower systems, vanities, valves,
          bolts, screws among many other supplies
        </p>
      </div>
      <div class="parag-3">
        <p>
          This “plumbing power-house” has a robust customer base and continues
          to improve in service delivery. Trinity Plumbing is poised for growth
          in the years to come.
        </p>
      </div>
      <div class="slogan">
        <p>Trinity Plumbing - We Do Plumbing Right, Everytime</p>
      </div>
    </div>
  </section>
</section>
