<!-- <section>
    <table class="w-full">
        <thead>
            <tr>
                <th>
                    <button class="btn btn--danger">DELETE ALL</button>
                </th>
                <th>Plumber</th>
                <th>Email Address</th>
                <th>Status</th>
                <th>Phone Number</th>
                <th>Actions</th>
                <th><button class="rounded-3xl h-10 w-10  bg-trinityBlue inline-flex items-center justify-center text-blue-900" title="Add a new plumber"><i class="fa-solid fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody #editableForms>
         -->
            <!-- Tells angular to add the class with same name once editMode is true -->

<!--             
            <tr [class]="{editMode}" *ngFor="let plumber of products">
                <td class="text-center">
                    <input type="checkbox" class="text-trinityBlue h-6 w-6">
                </td>
                <td>
                    <input type="text" [value]="plumber.plumbername" name="plumbername" [disabled]="!editMode" >
                </td>
                <td>
                    <input type="email" [value]="plumber.email" name="email" [disabled]="!editMode">
                </td>
                <td>
                    <input type="text" [value]="plumber.status" name="status" [disabled]="!editMode" >
                </td>
                <td>
                    <input type="tel" [value]="plumber.phone" name="phone" [disabled]="!editMode">
                </td>
                <td>
                    <div class="actions flex gap-2">
                        <button class="btn btn--info btn--sm" (click)="turnOnEditMode()" *ngIf="!editMode">Edit</button>
                        <button class="btn btn--success btn--sm" *ngIf="editMode" (click)="getEditableData()">Update</button>
                        <button class="btn btn--danger btn--sm" *ngIf="!editMode" (click)="deletePlumber(plumber._id)">Delete</button>
                        <button class="btn btn--info btn--sm" *ngIf="editMode" (click)="turnOffEditMode()" >Cancel</button>
                    </div>
                </td>
                <input type="hidden" name="_id" [value] = "plumber._id">
            </tr>
        </tbody>
    </table>

</section> -->